In [1]:
import pandas as pd
import datetime as dt
import numpy as np

%matplotlib inline

In [2]:
date_parser = lambda x: dt.datetime.strptime(x[0:16], '%d.%m.%Y %H:%M')

data_raw1 = pd.read_csv('./raw_data/Total Load - Day Ahead Forecast - Actual_201501010000-201601010000.csv',
                        index_col=0, date_parser=date_parser)

data_raw2 = pd.read_csv('./raw_data/Total Load - Day Ahead Forecast- Actual_201601010000-201701010000.csv',
                        index_col=0, date_parser=date_parser)

data_raw3 = pd.read_csv('./raw_data/Total Load - Day Ahead Forecast - Actual_201701010000-201801010000.csv',
                        index_col=0, date_parser=date_parser)


data_raw1_f = pd.read_csv('./raw_data/Generation Forecasts - Day Ahead for Wind and Solar_201501010000-201601010000.csv',
                        index_col=0, date_parser=date_parser)

data_raw2_f = pd.read_csv('./raw_data/Generation Forecasts - Day Ahead for Wind and Solar_201601010000-201701010000.csv',
                        index_col=0, date_parser=date_parser)

data_raw3_f = pd.read_csv('./raw_data/Generation Forecasts - Day Ahead for Wind and Solar_201701010000-201801010000.csv',
                        index_col=0, date_parser=date_parser)


data_raw_load=pd.concat([data_raw1, data_raw2, data_raw3])
data_raw_forecast = pd.concat([data_raw1_f, data_raw2_f, data_raw3_f])

data_raw = pd.concat([data_raw_load, data_raw_forecast], axis=1)

data_raw = data_raw.replace(['-', 'n/e'], np.NaN).dropna(how='all')

data = pd.DataFrame(data_raw.astype(float))

data.columns = ['load_forecast', 'load_true', 'sum_forecast', 'solar_forecast', 'offshore_forecast', 'onshore_forecast']

data[:'2017-08-30'].to_csv('./processed_data/20150101-20170830-forecast_load_renewable_gen.csv')

In [ ]:
date_parser = lambda x: dt.datetime.strptime(x[0:16], '%d.%m.%Y %H:%M')

data_raw1 = pd.read_csv('./raw_data/Actual Generation per Production Type_201601010000-201701010000.csv', index_col=1,
                      date_parser=date_parser)

data_raw2 = pd.read_csv('./raw_data/Actual Generation per Production Type_201501010000-201601010000.csv', index_col=1,
                      date_parser=date_parser)

data_raw3 = pd.read_csv('./raw_data/Actual Generation per Production Type_201701010000-201801010000.csv', index_col=1,
                      date_parser=date_parser)

data_raw = pd.concat([data_raw2, data_raw1, data_raw3])

data_raw = data_raw.drop('Area', axis=1)

data_raw = data_raw.replace(['-', 'n/e'], np.NaN).dropna(how='all')

data_raw = data_raw[:'2017-08-30 23:45']

significant_cols = ['Biomass  - Actual Aggregated [MW]', 'Fossil Brown coal/Lignite  - Actual Aggregated [MW]',
                'Fossil Hard coal  - Actual Aggregated [MW]','Wind Offshore  - Actual Aggregated [MW]',
                'Hydro Pumped Storage  - Actual Aggregated [MW]', 'Solar  - Actual Aggregated [MW]',
                'Hydro Run-of-river and poundage  - Actual Aggregated [MW]', 'Wind Onshore  - Actual Aggregated [MW]',
                'Nuclear  - Actual Aggregated [MW]', 'Other  - Actual Aggregated [MW]']

data = data_raw[significant_cols].astype(float)

short_cols = ['biomass', 'brown_coal', 'hard_coal', 'wind_offshore', 'pumped_hydro', 'solar', 'river_hydro',
              'wind_onshore', 'nuclear', 'other']

data.columns = short_cols

data.to_csv('./processed_data/20150101-20170830-gen_per_prod_type.csv')

In [2]:
gen = pd.read_csv('./processed_data/20150101-20170830-gen_per_prod_type.csv', parse_dates=True, index_col=0)

In [6]:
gen.columns = ['biomass', 'brown coal', 'hard coal', 'wind offshore', 'hydro pumped storage', 'solar', 'hydro run-of-river', 'wind onshore', 'nuclear', 'other']

In [20]:
descr_gen = gen.describe()
descr_gen
# print(descr_gen.to_latex(float_format='%2.0f'))

,biomass,brown coal,hard coal,wind offshore,hydro pumped storage,solar,hydro run-of-river,wind onshore,nuclear,other
count,92642.000000,92584.000000,92797.000000,93074.000000,92992.000000,92899.000000,92961.000000,93063.000000,93114.000000,92727.000000
mean,4419.365007,15029.104273,9040.957693,1307.234802,1201.293939,4332.569468,4485.681899,8419.964207,8935.521307,5165.161075
std,348.688784,2188.891792,5073.951030,1071.514268,1464.105261,6477.691594,1436.802039,6642.741262,1590.649556,2325.111996
min,2778.000000,5330.000000,148.000000,0.000000,0.000000,0.000000,1791.000000,163.000000,3397.000000,42.000000
25%,4190.000000,13921.000000,4570.000000,378.000000,33.000000,0.000000,3324.000000,3512.000000,7720.000000,3599.000000
50%,4372.000000,15265.000000,8903.000000,994.000000,595.000000,148.000000,4289.000000,6466.000000,9073.000000,4864.000000
75%,4714.000000,16558.250000,13140.000000,2167.000000,1934.000000,7162.000000,5513.000000,11378.000000,10378.000000,6255.000000
max,5155.000000,19230.000000,21267.000000,4332.000000,9582.000000,28527.000000,13222.000000,35745.000000,11474.000000,33409.000000

In [21]:
forec = pd.read_csv('./processed_data/20150101-20170830-forecast_load_renewable_gen.csv', parse_dates=True, index_col=0)

In [25]:
forec.head()

,load_forecast,load_true,sum_forecast,solar_forecast,offshore_forecast,onshore_forecast
2015-01-01 00:00:00,50137.0,49025.0,8104.0,0.0,601.0,7503.0
2015-01-01 00:15:00,49545.0,48534.0,8187.0,0.0,599.0,7588.0
2015-01-01 00:30:00,49067.0,48548.0,8280.0,0.0,599.0,7681.0
2015-01-01 00:45:00,48476.0,48249.0,8363.0,0.0,598.0,7765.0
2015-01-01 01:00:00,47452.0,47658.0,8655.0,0.0,599.0,8056.0

In [23]:
ren_forec = forec[['solar_forecast', 'offshore_forecast', 'onshore_forecast']]
ren_forec.columns=['solar forecast', 'wind offshore forecast', 'wind onshore forecast']
descr_ren_forec= ren_forec.describe()
print(descr_ren_forec.to_latex(float_format='%2.0f'))

\begin{tabular}{lrrr}
\toprule
{} &  solar forecast &  wind offshore forecast &  wind onshore forecast \\
\midrule
count &           93404 &                   93308 &                  93404 \\
mean  &            4391 &                    1338 &                   8635 \\
std   &            6534 &                    1044 &                   6729 \\
min   &               0 &                       4 &                    187 \\
25\%   &               0 &                     433 &                   3660 \\
50\%   &             193 &                    1070 &                   6648 \\
75\%   &            7251 &                    2162 &                  11480 \\
max   &           28310 &                    4175 &                  37338 \\
\bottomrule
\end{tabular}

In [27]:
load_forec = forec[['load_forecast', 'load_true']]
load_forec.columns=['electric load forecast', 'actual electric load']
descr_load= load_forec.describe()
print(descr_load.to_latex(float_format='%2.0f'))

\begin{tabular}{lrr}
\toprule
{} &  electric load forecast &  actual electric load \\
\midrule
count &                   92924 &                 93396 \\
mean  &                   62069 &                 62448 \\
std   &                   10804 &                 11332 \\
min   &                   33802 &                 30985 \\
25\%   &                   53105 &                 52940 \\
50\%   &                   62013 &                 62054 \\
75\%   &                   71442 &                 72492 \\
max   &                   85892 &                 89063 \\
\bottomrule
\end{tabular}